{
	"passPerPreset": true,
	"presets": [
		{ "plugins": [ "transform-runtime" ] },
		{
			"passPerPreset": false,
			"presets": [ "es2015-node6", "stage-1" ]
		}
	],
  "env": {
    "test": {
      "plugins": [
        ["istanbul"]
      ]
    },
    "production": {
      "plugins": ["source-map-support"]
    }
  },
  "ignore": [
    "src/client/*",
    "src/public/*"
  ],
  "sourceMaps": "both"
}
