doctype html
html
  head
    base(href='/')
    link(href='//cdn.jsdelivr.net/graphiql/0.3.1/graphiql.css', rel='stylesheet')
    script(src='//cdn.jsdelivr.net/fetch/0.9.0/fetch.min.js')
    script(src='//cdn.jsdelivr.net/react/0.14.1/react.min.js')
    script(src='//cdn.jsdelivr.net/graphiql/0.3.1/graphiql.min.js')
    script(src='graphiql.js')
  body
