doctype html
html(lang="fr")
  head
    base(href="/")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script.
      window.APOLLO_STATE = !{JSON.stringify(initialState)};
  body
    #react-container !{markup}
    script(src="main.js")
